body {
    font-family: sans-serif;
}

h1 {
    color: #33CDC7;
    text-align: center;
    font-size: 50px;
}

a {
  color: #30BFBF ;  
}

header {
    background-color: #232828;
}

footer {
    background-color: #232828;
}

p {
    color: #30BFBF ;
    margin-left: 200px;
    font-size: 28px;
}

main {
    background-color: #232828;
}


a:hover {
    color: hotpink ;
    background-color: #87F03C;
}

a:focus {
    color: crimson ;
    background-color: navajowhite;
}


.link-header {
    font-size: 25px;
}

.link-nav {
    font-size: 25px;
    margin: 15px ;
}

.social {
    margin: 15px;
}
