body {
    font-family: sans-serif;
    background-color: #232828 ;
}


h1 {
    color: #33CDC7;
    text-align: center;
    font-size: 40px;
}

a {
  color: #30BFBF ;  
}

header {
    background-color: #232828;
}

footer {
    background-color: #232828;
}

p {
    color: #30BFBF ;
    margin-left: 20px;
    font-size: 20px;
}

main {
    background-color: #232828;
}

.social {
    margin: 15px ;
}

a:hover {
    color: hotpink ;
    background-color: #87F03C;
}

a:focus {
    color: crimson ;
    background-color: navajowhite;
}

li {
    color: #30BFBF;
    font-size: 30px;
    margin-left: 20px;
}

.link-header {
    font-size: 25px;
    margin-left: 40px;
}

h2 {
    color: aqua;
}

